In [1]:
from __future__ import print_function
import pandas as pd
from apriori import *

In [10]:
inputfile ='menu_orders.xls'
outputfile ='../tmp/apriori_rules.xls'
data =pd.read_excel(inputfile,header=None)

In [11]:
data

   0  1    2    3
0  a  c    e  NaN
1  b  d  NaN  NaN
2  b  c  NaN  NaN
3  a  b    c    d
4  a  b  NaN  NaN
5  b  c  NaN  NaN
6  a  b  NaN  NaN
7  a  b    c    e
8  a  b    c  NaN
9  a  c    e  NaN

In [12]:
ct =lambda x: pd.Series(1,index =x[pd.notnull(x)])

In [13]:
b=map(ct,data.as_matrix())

In [14]:
data= pd.DataFrame(list(b))

In [9]:
list(b)

[]

In [15]:
data=data.fillna(0)

In [16]:
data

     a    b    c    d    e
0  1.0  0.0  1.0  0.0  1.0
1  0.0  1.0  0.0  1.0  0.0
2  0.0  1.0  1.0  0.0  0.0
3  1.0  1.0  1.0  1.0  0.0
4  1.0  1.0  0.0  0.0  0.0
5  0.0  1.0  1.0  0.0  0.0
6  1.0  1.0  0.0  0.0  0.0
7  1.0  1.0  1.0  0.0  1.0
8  1.0  1.0  1.0  0.0  0.0
9  1.0  0.0  1.0  0.0  1.0

In [17]:
del b

In [18]:
support =0.2
confidence =0.5#最小支持度，最小置信度。
ms='---'

In [19]:
find_rule(data,support,confidence,ms).to_excel(outputfile)#保存列表

正在进行第1次搜索...
数目：6...

正在进行第2次搜索...
数目：3...

正在进行第3次搜索...
数目：0...

结果为：
           support  confidence
e---a          0.3    1.000000
e---c          0.3    1.000000
c---e---a      0.3    1.000000
a---e---c      0.3    1.000000
a---b          0.5    0.714286
c---a          0.5    0.714286
a---c          0.5    0.714286
c---b          0.5    0.714286
b---a          0.5    0.625000
b---c          0.5    0.625000
b---c---a      0.3    0.600000
a---c---b      0.3    0.600000
a---b---c      0.3    0.600000
a---c---e      0.3    0.600000